<header class="header">
    <h1>GlowEssence<i class="fa-solid fa-star"></i></h1>
    
    <input type="checkbox" id="hamburger-toggle" class="hamburger-checkbox">
    <label for="hamburger-toggle" id="hamburger-btn" aria-label="Meniu">
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
    </label>
    
    <nav>
        <ul class="meniu">
            <li><a href="/"><span>Acasă</span></a></li>
            
            <li class="has-submenu">
                <input type="checkbox" id="toggle-produse" class="submenu-checkbox">
                <label for="toggle-produse" class="submenu-toggle"><span>Produse</span></label>
                <ul class="submenu">
                    <li><a href="#curatare">Produse de curățare</a></li>
                    <li><a href="#tonere">Tonere și esențe</a></li>
                    <li><a href="#seruri">Seruri</a></li>
                    <li><a href="#hidratare">Hidratare</a></li>
                    <li><a href="#masti">Măști faciale</a></li>
                </ul>
            </li>
            
            <li><a href="/galerie"><span>Galerie</span></a></li>
            
            <li><a href="/video"><span>Video</span></a></li>
            
            <li class="has-submenu">
                <input type="checkbox" id="toggle-cont" class="submenu-checkbox">
                <label for="toggle-cont" class="submenu-toggle"><span>Contul meu</span></label>
                <ul class="submenu">
                    <li><a href="#contul_meu">Intră în cont</a></li>
                    <li><a href="#cos_cumparaturi">Coș de cumpărături <i class="fa-solid fa-cart-shopping fa-shake"></i></a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>